body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.error-container {
    text-align: center;
    margin-top: 100px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3em;
    color: #ff0000;
}

p {
    font-size: 1.2em;
    color: #333;
}

a {
    text-decoration: none;
    color: #007BFF;
}

#countdown {
    font-size: 2em;
    color: #ff0000;
    font-weight: bold;
}
